.itemContent, .itemTitle {
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

td {
  padding: 4px 8px;
}

.navigation {
  height: 92%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 4.2em; /* Stay at the top */
  left: 0;
  text-align: left;
  padding-left: 1mm;
  display: block;
  overflow-y: auto;
  padding-bottom: 2em;
}

.content {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 5px 2em 0px;
  overflow-y: auto;
}

@media only screen and (max-width: 480px) {
  .navigation {
    height: 80%;
  }
}

hr.divider {
  margin: 0em;
  border-width: 2px;
}

.navigation span:hover {
  color: #f15500;
}

.showFeed span {
  text-decoration: none;
  display: block;
  padding-left: 2mm;
}

.toggleNaviContainer {
  position:absolute;
  top: 2.3em;
  left: 1.5mm;
  z-index: 2;
  font-size: large;
  font-weight: bold;
}

.toggleNavi {
  padding-right: 2mm;
}

.toggleNavi:hover {
  color: #f15500;
}

.toggleNaviAux .save_data_toggling {
  font-size: medium;
  padding-left: 2mm;
}

.save_data_toggling:hover {
  color: #f15500;
}

.navigation .manage {
  text-decoration: none;
  color: #818181;
  display: block;
  font-style: italic;
}

.feedTableDiv table,tr,td {
  border: none;
  border-spacing: 0;
  padding-right: 3px;
  padding-left: 0;
  border-collapse: collapse;
}

.feedTableDiv td {
  border: none;
}

.manageFeedsForm table {
  border-bottom: 1px solid #ddd;
}

.manageFeedsForm th,td {
  border-bottom: 1px solid #ddd;
}

.itemActions td {
  border: none;
  border-spacing: 0px;
  padding-right: 5px;
  padding-left: 0px;
  font-style: italic;
}

.feedFolder {
  font-weight: bold;
  font-size: large;
}

.navigation .feedFolder:hover {
  color: #7f7f7f;
}

.feedTitle a {
  text-decoration: none;
}

.oneFeedItem a {
  text-decoration: none;
}

.refreshFeed:hover {
  color: #f15500;
}

.itemTitle {
  font-weight: bold;
}

.toggleRead {
  font-size: large;
}

.noteThis {
  font-size: large;
}

.toggleDelete {
  font-size: large;
}

.elPubDate {
  font-size: xx-small;
}

.noteThis:hover {
  color: #f15500;
}

.toggleRead:hover {
  color: #f15500;
}

.toggleDelete:hover {
  color: #f15500;
}

.showItemContent {
  font-size: large;
}

.showItemContent:hover {
  color: #f15500;
}

.itemCreator {
  font-size: xx-small;
}

.unreadCount {
  font-size: 40%;
  font-weight: bold;
}

.totalCount {
  font-size: 40%;
  font-weight: bold;
}

.addFeedForm {
  width: 90%;
}

input[type=text] {
  width: 90%;
}

.next_prev {
  font-weight: bold;
  padding-right: 5px;
}

.next_prev:hover {
  color: #f15500;
}

.thanks {
  font-size: 65%;
  font-weight: bold;
}

.thanks a {
  text-decoration: none;
}
