.itemContent, .itemTitle {
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.hidedItem {
  display: none;
}

.navigation {
  height: 92%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 4.6em;
  left: 0;
  text-align: left;
  padding-left: 1mm;
  display: block;
  overflow-y: auto;
  padding-bottom: 2em;
}

.content {
  margin-left: 160px;
  padding: 0px 1% 3em 0px;
  overflow-y: auto;
}

@media only screen and (max-width: 480px) {
  .navigation {
    height: 80%;
  }
}

hr.divider {
  margin: 0em;
  border-width: 2px;
}

.navigation .showFeed:hover {
  color: #f15500;
}

.naviBarShown {
  display: block;
}

.naviBarHidden {
  display: none;
}

.contentBoxRightpage {
  margin-left: 160px;
}

.contentBoxFullpage {
  margin-left: 0px;
}

td.showFeed {
  text-decoration: none;
  display: block;
  padding-left: 2mm;
}

.showingFeed {
  color: #f15500;
}

.nonShowingFeed {
}

.toggleNaviContainer {
  position:absolute;
  top: 2.3em;
  left: 1.5mm;
  z-index: 2;
  font-size: large;
  font-weight: bold;
}

.toggleNaviContainerExpanded {
  background-color: #bc90a1;
  opacity: 0.7
}

.toggleNaviContainerFolded {
}

.toggleNavi {
  padding-right: 2mm;
}

.toggleNavi:hover {
  color: #f15500;
}

.toggleNaviAux .save_data_toggling {
  font-size: medium;
  padding-left: 2mm;
}

.save_data_toggling:hover {
  color: #f15500;
}

.manage {
  text-decoration: none;
  color: #818181;
  display: block;
  font-style: italic;
}

.manage :hover {
  font-weight: bold;
}

.feedTableDiv :is(table,tr,td) {
  border: none;
  border-spacing: 0 0.5em;
  padding-right: 3px;
  padding-left: 0;
  border-collapse: separate;
}

table.manageFeedsForm, table.manageFeedsForm :is(tbody, tr, th, td) {
  text-align: left;
  font-size: xx-small;
  border: 1px solid #bbaaaa;
  border-collapse: collapse;
  padding: 0px 0px;
}

.manageFeedsForm th:nth-child(n+1):nth-child(-n+7) {
  cursor: pointer;
}

.itemActions td {
  border: none;
  border-spacing: 0px;
  padding-right: 1em;
  padding-left: 0px;
  font-style: italic;
}

.feedFolder {
  font-weight: bold;
  font-size: large;
}

.feedFolder:hover {
  color: #7f7f7f;
}

.feedTitle a {
  text-decoration: none;
}

.oneFeedItem a {
  text-decoration: none;
}

.refreshFeed:hover {
  color: #f15500;
}

.itemTitle {
  font-weight: bold;
}

.toggleRead {
  font-size: large;
}

.noteThis {
  font-size: large;
}

.toggleDelete {
  font-size: large;
}

.elPubDate {
  font-size: xx-small;
}

.noteThis:hover {
  color: #f15500;
}

.toggleRead:hover {
  color: #f15500;
}

.toggleDelete:hover {
  color: #f15500;
}

.showItemContent {
  font-size: large;
}

.showItemContent:hover {
  color: #f15500;
}

.itemCreator {
  font-size: xx-small;
}

.unreadCount {
  z-index: -1;
  pointer-events: none;
}

.elUnreadTotalAndRefresh {
  font-size: 40%;
  font-weight: bold;
  z-index: 2;
}

.elUnreadTotalAndRefresh:hover {
  color: #f15500;
}

.searchForm, .addFeedTable {
  width: 100%;
}

.searchCol1, .addFeedCol1 {
  width: 30%;
}

.searchCol2, .addFeedCol2 {
  width: 70%;
}

input.addFeedInput, input.searchTerms {
  width: 100%;
}

.cellNameContainer {
  width: 42%;
}

.cellNameContainer input {
  display: block;
  width: 100%;
  border: 0;
}

.cellFolderContainer {
  width: 15%;
}

.cellFolderContainer input {
  width: 100%;
  border: 0;
}

.next_prev {
  font-weight: bold;
  padding-right: 5px;
}

.next_prev:hover {
  color: #f15500;
}

.thanks {
  font-size: 56%;
  font-weight: bold;
}

.thanks a {
  text-decoration: none;
}
