table, td {
  border: 1px solid var(--background-modifier-border);
}

td {
  padding: 4px 8px;
}

.navigation {
  height: 90%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 3.5em; /* Stay at the top */
  left: 0;
  text-align: left;
  padding-left: 1mm;
  display: block;
  overflow-y: auto;
}

@media only screen and (max-width: 480px) {
  .navigation {
    height: 80%;
  }
}

.navigation span:hover {
  color: #f15500;
}

.showFeed span {
  text-decoration: none;
  display: block;
  padding-left: 2mm;
}

.toggleNavi {
  position:absolute;
  top: 2em;
  left: 1mm;
  z-index: 2;
}

.content {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 5px;
}

.navigation .manage {
  text-decoration: none;
  color: #818181;
  display: block;
}

.feedTable table,tr,td {
  border: none;
  border-spacing: 0;
  padding-right: 3px;
  padding-left: 0;
}

.itemActions td {
  border: none;
  border-spacing: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

.feedFolder {
  font-weight: bold;
}

.feedTitle a {
  text-decoration: none;
}

.oneFeedItem a {
  text-decoration: none;
}

.refreshFeed:hover {
  color: #f15500;
}

.noteThis:hover {
  color: #f15500;
}

.toggleRead:hover {
  color: #f15500;
}

.toggleDelete:hover {
  color: #f15500;
}

.unreadCount {
  font-size: 40%;
  font-weight: bold;
}

.totalCount {
  font-size: 40%;
  font-weight: bold;
}

.addFeedForm {
  width: 90%;
}

input[type=text] {
  width: 90%;
}
